<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="accord">
            <h2><span jhiTranslate="projetuvsApp.accord.detail.title">Accord</span> {{ accord.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="projetuvsApp.accord.structure">Structure</span></dt>
                <dd>
                    <span>{{ accord.structure }}</span>
                </dd>
                <dt><span jhiTranslate="projetuvsApp.accord.description">Description</span></dt>
                <dd>
                    <span>{{ accord.description }}</span>
                </dd>
                <dt><span jhiTranslate="projetuvsApp.accord.date">Date</span></dt>
                <dd>
                    <span>{{ accord.date }}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/accord', accord.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
